.form-control {
  background-color: #ddd;
}
.form-control .close {
  position: absolute;
  right: 0;
  font-size: 30px;
  color: #fff;
  background-color: red;
  padding: 10px 15px;
  text-align: center;
  cursor: pointer;
}
.form-control form {
  width: 60%;
  margin: auto;
  padding: 40px;
}
.form-control form > div {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.form-control form input {
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #c0c0c0;
}

.handelSubmit {
  display: block;
  border: 0;
  background-color: #2a5ea5;
  color: #fff;
  padding: 10px;
  font-size: 20px;
  border-radius: 6px;
  cursor: pointer;
}